<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet", href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Pranav Talwar. It uses data from <a class="text-links" href="mapbox.com">mapbox.com</a> and <a class="text-links" href="https://weatherstack.com/">weatherstack.com</a>.</p>
            <img class="portrait" src="./img/profile.jpg">
        </div>
        {{>footer}}
    </body>
</html>